<mat-card-title>Nuevo Cliente</mat-card-title>
<mat-dialog-content>
    <form >
       <div>
        <mat-form-field>
            <input  matInput type="tel" placeholder="SharedKey" required />
        </mat-form-field>
        <mat-form-field>
            <input  matInput type="text" placeholder="BusinessId" required />
        </mat-form-field>
        <mat-form-field>
            <input  matInput type="text" placeholder="Email" required />
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Legacy form field</mat-label>
            <input  matInput type="text" placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
       </div>
    </form>
</mat-dialog-content>
