<mat-card-title>Nuevo Cliente</mat-card-title>
<mat-dialog-content>
    <form >
       <div>
        <mat-form-field>
            <mat-label>SharedId</mat-label>
            <input  matInput type="text" placeholder="SharedKey" required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>BusinessId</mat-label>
            <input  matInput type="text" placeholder="BusinessId" required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input  matInput type="email" placeholder="Email" required />
        </mat-form-field>

        <mat-form-field >
            <mat-label>Phone</mat-label>
            <input  matInput type="tel" placeholder="phone">
          </mat-form-field>

          <mat-form-field >
            <mat-label>Data_Added</mat-label>
            <input  matInput type="date" placeholder="phone">
          </mat-form-field>

         
       </div>
    </form>
</mat-dialog-content>
