<mat-card>
    <h2 class="alinear">Administracion de Clientes</h2>
    <mat-card-header>
        <div>
            <mat-form-field hintLabel="Busque categoría" appearance="fill">

                <mat-label>Buscar Categoría</mat-label>
                <input matInput #input >
            </mat-form-field>
        </div>
    </mat-card-header>
    
    <mat-card-header>
        <div class="right" >
            <ul >
                <li>
                    <button mat-raised-button color="primary">Agregar Cliente</button>
                </li>
            </ul>
        </div>
    </mat-card-header>
     
</mat-card>

<div mat-card-image></div>



